// ICON-FILTER
// -----------------------------------------------
// -----------------------------------------------
#icon-filter-tag {
    .icon-row {
        @include flexbox;
        @include justify-content(center);

        a {
            @include flexbox;
            @include flex-direction(column);
            @include align-items(center);
            justify-content: space-between;

            font-size: $tab-font-size;
            font-weight: bold;
            line-height: 23px;
            min-width: 150px;

            &:last-child {
                padding-right: 0;
            }

            &:hover {
                color: $brand-primary;
                text-decoration: none;
            }
        }

        span {
          font-size: 16px;
          line-height: 20px;
          padding-bottom: $base-point-grid / 2;
          transition: all 0.8s;
        }

        .icon-item {
            display: flex;
            flex-direction: column;
            font-size: 0.875rem;
            position: relative;
        }

        @include bp(medium) {
            @include flex-wrap(wrap);
        }

        #allposts-white {
          position: absolute;
        }

        #core-white {
          position: absolute;
        }

        #fx-white {
          position: absolute;
        }

        #optics-white {
          position: absolute;
        }

        #meta-white {
          position: absolute;
        }

        #incubator-white {
          position: absolute;
        }

        #allposts-color {
          opacity: 0;
        }

        #core-color {
          opacity: 0;
        }

        #fx-color {
          opacity: 0;
        }

        #optics-color {
          opacity: 0;
        }

        #meta-color {
          opacity: 0;
        }

        #incubator-color {
          opacity: 0;
        }
    }
}
