{% assign incubator = '#FF9B00' %}
{% assign core = '#2D9DFF' %}
{% assign fx = '#807373' %}
{% assign optics = '#00C9AA' %}
{% assign meta = '#CD151D' %}
<article class="article-card">
    <div class="article-card-header">
       {% if post.icon %}
       <div class="icon">
           <img src="{{ post.icon }}" alt="">
       </div>
       {% endif %}

        {% if post.link %}
        <a href="{{ post.link }}" target="_blank" rel="noopener noreferrer" class="header-container">
          {% if post.header-image %}
            <img src="{{ post.header-image }}" alt="">
          {% endif %}
        </a>
        {% else %}
        <div class="header-container">
          {% if post.header-image %}
            <img src="{{ post.header-image }}" alt="">
          {% endif %}
        </div>
        {% endif %}
    </div>
    {% for icon in site.data.menu.icon-filter %}
      {% if post.tags contains icon.category %}
        {% assign color = icon.category %}
        {% assign line-color = '0' %}
        {% if color == 'incubator' %}
          {% assign line-color = {{incubator}} %}
        {% elsif color == 'core' %}
          {% assign line-color = {{core}} %}
        {% elsif color == 'fx' %}
          {% assign line-color = {{fx}} %}
        {% elsif color == 'optics' %}
            {% assign line-color = {{optics}} %}
        {% else %}
          {% assign line-color = {{meta}} %}
        {% endif %}
        <hr class="bottom-line-image" style="background: {{line-color}}">
      {% endif %}
    {% endfor %}

    <div class="blog-item-content">
        {% if post.title && post.title != "" %}
        <h2>{{ post.title }}</h2>
        {% endif %}
        <ul>
            {% if post.event && post.event != "" %}
            <li>{{ post.event }}</li>
            {% endif %}
            {% if post.date && post.date != "" %}
            <li>{{ post.date | date: '%B %d, %Y' }}</li>
            {% endif %}
        </ul>
        {% if post.content && post.content != "" %}
          {{ post.content }}
        {% endif %}
        {% for icon in site.data.menu.icon-filter %}
            {% if post.tags contains icon.category %}
              {% assign color = icon.category %}
              {% assign line-color = '0' %}
              {% if color == 'incubator' %}
                {% assign line-color = {{incubator}} %}
              {% elsif color == 'core' %}
                {% assign line-color = {{core}} %}
              {% elsif color == 'fx' %}
                {% assign line-color = {{fx}} %}
              {% elsif color == 'optics' %}
                  {% assign line-color = {{optics}} %}
              {% else %}
                {% assign line-color = {{meta}} %}
              {% endif %}
            <span class="tag-post-foot" style="border-bottom: 2px solid {{line-color}};">{{icon.title}}</span>
            {% endif %}
        {% endfor %}
    </div>
</article>
