// Code
// -----------------------------------------------
// -----------------------------------------------

p,
ul {
    code {
        font-family: $code-font-family;
        padding: 0 $base-point-grid ($base-point-grid - 4) $base-point-grid;
        font-size: 16px;
        border-radius: 3px;
        color: rgba(#263238, 0.7);
    }
}


.hljs {
    display: block;
    overflow-x: auto;
    color: $base-font-color;
    padding: ($base-point-grid * 1.5) 0 ($base-point-grid * 1.5) ($base-point-grid * 2);
    font-family: $code-font-family;
    margin-bottom: ($base-point-grid * 3);
    font-size: 16px;
    box-shadow: $box-shadow-item;
}

.language-kotlin {
    display: none;
}