// DOC CONTENT META
// -----------------------------------------------
// -----------------------------------------------

.doc-content-core {
    .doc-content {
        a {
            color: $core-color;
        }

        p,
        ul {
            code {
                background: rgba($meta-background, 0.08);
            }
        }

        .hljs {
            background: rgba($meta-background, 0.05);
        }

        .hljs-doctag,
        .hljs-formula,
        .hljs-keyword {
            color: $meta-color;
        }

        .hljs-built_in,
        .hljs-class .hljs-title {
            color: #F28B2D;
        }
    }
}