// DOC CONTENT FX
// -----------------------------------------------
// -----------------------------------------------

.doc-content-fx {
    .doc-content {
        a {
            color: $fx-color;
        }

        p,
        ul {
            code {
                background: rgba($fx-background, 0.08);
            }
        }

        .hljs {
            background: rgba($fx-background, 0.05);
        }

        .hljs-doctag,
        .hljs-formula,
        .hljs-keyword {
            color: $fx-color;
        }

        .hljs-built_in,
        .hljs-class .hljs-title {
            color: #F28B2D;
        }
    }
}