// SIDEBAR NAV
// -----------------------------------------------
// -----------------------------------------------
.sidebar-nav {
    font-size: $base-docs-font-size;

    .sidebar-nav-item {
        > a {
            display: flex;
            align-items: center;
            @include links($white, $white, $white, $white);

            height: ($base-point-grid * 6);
            padding: 0 ($base-point-grid * 4);

            &:hover {
                text-decoration: none;
            }

            .fa {
                  margin-left: ($base-point-grid * 2);
                  font-size: 18px;
                  transition: all .3s;
                  -moz-osx-font-smoothing: unset;
            }
        }

        &.active {
            > a {
                padding-left: 28px;
                .fa {
                     @include rotate(90deg);
                }
            }
        }


        ul {
            display: none;
            padding: ($base-point-grid * 2) ($base-point-grid * 3);

            li {
                a {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    @include links($white, $white, rgba($white, 0.5), rgba($white, 0.5));

                    padding: $base-point-grid 0;
                    font-size: 15px;

                    .fa {
                        margin-right: ($base-point-grid * 1.5);
                        font-size: 0.25rem;
                    }

                    &.active {
                        color: $gray-primary;
                    }

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

#doc-version-button {

    .sidebar-doc-versions {
        display: flex;
        justify-content: center;

        position: absolute;
        margin-left: auto;
        margin-right: auto;
        bottom: 25px;
        margin: auto;
        right: 0;
        left: 0;

        .sidebar-nav-item {
             width: 100%;
             &.active {
                 > a {
                   padding: $base-point-grid * 4;
                   border-color: transparent;
                 }
               }
             ul {
                 position: sticky;
                 width: 100%;
                 z-index: 1;
                 box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px 0px;
                 background: $brand-primary;

                 li {
                   a {
                     font-size: 0.800rem;
                   }
                 }

                 li:nth-child(4) {
                   border-top: solid 1px rgba(255, 255, 255, 0.5);
                 }
             }
        }
    }
}
