.incubator {
  background: $incubator-background;
}

#incubator-sidebar-nav {
  .sidebar-nav-item {
    > a {
      &:hover {
        background: $incubator-hover;
      }
    }

    &.active {
      > a {
        background: $incubator-hover;
        border-left: 4px solid $incubator-color;
      }
    }

    ul {
      background: $incubator-hover;
    }
  }
}

#cat-incubator-dropdown {
  min-width: 164px;

  .sidebar-nav {
    .sidebar-nav-item {
      > a {
        &:hover {
          background: $incubator-hover;
          box-shadow: $sidebar-cat-dropdow;
        }
      }

      &.active {
        > a {
          background: $incubator-hover;
          box-shadow: $sidebar-cat-dropdow;
        }
      }

      ul {
        width: 100%;
        z-index: 1;
        box-shadow: $sidebar-cat-dropdow;
        background: $incubator-hover;

        a {
          color: $white;
        }
      }
    }
  }
}

#doc-inc-version-button {
  .sidebar-doc-versions {
    .sidebar-nav-item {
      > a {
        &:hover {
          background: $incubator-hover;
          box-shadow: $sidebar-cat-dropdow;
        }
      }

      &.active {
        > a {
          background: $incubator-hover;
          box-shadow: $sidebar-cat-dropdow;
        }
      }

      ul {
        width: 100%;
        z-index: 1;
        box-shadow: $sidebar-cat-dropdow;
        background: $incubator-hover;

        a {
          color: $white;
          padding-left: 10px;

          &:hover {
            @include links($white, $white, rgba($white, 0.5), rgba($white, 0.5));
          }
        }
      }
    }
  }
}
