<div id="sidebar-wrapper" class="optics">
  <div class="toggle-container">
    <button type="button" id="main-toggle" class="sidebar-toggle">
      <span class="close"></span>
    </button>
  </div>
  <div class="sidebar-brand">
    <a href="/">
      <img src="{{ '/img/optics/arrow-optics-brand-sidebar.svg' | relative_url}}" alt="Arrow Optics">
    </a>
    {% assign cat_title = "arrow optics" %}
    {% assign cat_id = "optics" %}
    {% include _sidebar-cat-dropdown.html %}
  </div>

  <ul id="optics-sidebar-nav" class="sidebar-nav">
    {% for item in site.data.sidebar.options %}
    {% assign cat = item.title | downcase  %}
    {% if cat == "optics" %}
    <li class="sidebar-nav-item">
      <a href="{% if item.url %}{{item.url}}{% else %}#{% endif %}" class="optics">
        <span>{{ item.title }}</span>
        {% if item.nested_options %}
        <i class="fa fa-angle-right"></i>
        {% endif%}
      </a>
      {% if item.nested_options %}
      <ul>
        {% for nested_item in item.nested_options %}
        <li>
          <a href="{{ nested_item.url }}">
            <span>{{ nested_item.title }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
      {% endif%}
    </li>
    {% endif %}
    {% endfor %}
  </ul>

  <div id="doc-optics-version-button">
    {% include _sidebar-doc-versions.html %}
  </div>

</div>