<section id="books">
    <div class="wrapper">
        <h3>Books</h3>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus odit itaque quo placeat possimus, ut. Officia, explicabo. Voluptatem tempora minus magni, tempore quis enim modi. Velit molestiae repudiandae ea nihil.
        <div class="books-flex">
            {% for book in site.books | sort: "name" %}
            <a class="book-item" href="{{ book.link }}">
                <h4>{{ book.name }}</h4>
                <img src="{{ book.image }}" alt="">
            </a>
            {% endfor %}
        </div>
    </div>
</section>