<div id="icon-filter-tag">
    <div class="wrapper">
        <ul id="features" class="icon-row">
            {% for item in site.data.menu.icon-filter %}
                {% assign icon-cat = item.category | downcase %}
                {% if page.tag == nil and icon-cat == 'allposts' %}
                    {% assign class = "active" %}
                {% elsif page.tag == icon-cat %}
                    {% assign class = "active" %}
                {% else %}
                    {% assign class = "" %}
                {% endif %}
                <a id="{{ item.category }}" class="{{ class }}" href="{% if icon-cat == 'allposts' %}/media{% else %}{{site.data.tags.tag_page_dir}}/{{icon-cat | slugify: 'pretty'}}{% endif %}" alt="{{ item.title }}">
                    <li id="icons-filter">
                        <div id="{{item.category}}">
                          <img id="{{ item.category }}-white" class="cat-icon-white {{ class }}" src="{{ item.icon-white | relative_url }}">
                          <img id="{{ item.category }}-color" class="cat-icon-color {{ class }}" src="{{ item.icon-color | relative_url }}">
                        </div>
                    </li>
                    <span id="{{item.category}}-span"  class="cat-span {{ class }}">{{item.title}}</span>
                </a>
            {% endfor %}
        </ul>
    </div>
</div>
