// Code
// -----------------------------------------------
// -----------------------------------------------

p,
ul {
    code {
        font-family: $code-font-family;
        padding: 0 $base-point-grid ($base-point-grid - 4) $base-point-grid;
        font-size: 16px;
        border-radius: 3px;
        color: rgba(#263238, 0.7);
    }
}


.doc-content {


    .CodeMirror,
    .hljs {
        font-size: 15px;
        font-family: $code-font-family;

        pre {
            line-height: 1.8;
        }

    }

    .cm-s-arrow span.cm-keyword {
        font-weight: $font-regular;
    }
    
        pre {

        &.highlight {
            border: 1px solid $code-border-color;
            margin-bottom: $code-margin;

            .hljs {
                padding: $code-padding;
            }
        }
    }
}


.language-kotlin {
    display: none;
}
