.meta {
    background: $meta-background;
}

#meta-sidebar-nav {
    .sidebar-nav-item {
        > a {
            transition: background $base-duration $base-timing;

            &:hover {
                background: $meta-hover;
            }
        }

        &.active {
            > a {
                background: $meta-hover;
                border-left: 4px solid $meta-color;
            }
        }

        ul {
            background: $meta-hover;

            li {
                a {
                    &:before {
                        content: "•";
                        margin-right: ($base-point-grid * 2);
                    }
                }
            }
        }
    }
}

#cat-meta-dropdown {
    min-width: $sidebar-cat-button;

    .sidebar-nav {
        .sidebar-nav-item {
            > a {
                transition: background $base-duration $base-timing;
                &:hover {
                    background: $meta-hover;
                    box-shadow: $sidebar-cat-dropdow;
                }
            }

            &.active {
                > a {
                    background: $meta-hover;
                    box-shadow: $sidebar-cat-dropdow;
                }
            }

            ul {
                width: 100%;
                z-index: 1;
                box-shadow: $sidebar-cat-dropdow;
                background: $meta-hover;

                a {
                    color: $white;
                    transition: all $base-duration $base-timing;

                    &:hover {
                        background: rgba($white, 0.05);
                        color: rgba($white, 0.8);
                    }
                }
            }
        }
    }
}

#doc-meta-version-button {
    .sidebar-doc-versions {
        .sidebar-nav-item {
            background: $meta-background;
            > a {
                transition: background $base-duration $base-timing;
                &:hover {
                    background: $meta-hover;
                    box-shadow: $sidebar-cat-dropdow;
                }
            }

            &.active {
                > a {
                    background: $meta-hover;
                    box-shadow: $sidebar-cat-dropdow;
                }
            }

            ul {
                width: 100%;
                z-index: 1;
                box-shadow: $sidebar-cat-dropdow;
                background: $meta-hover;

                a {
                    color: $white;
                    padding-left: 10px;

                    &:hover {
                        @include links($white, $white, rgba($white, 0.5), rgba($white, 0.5));
                    }
                }
            }
        }
    }
}
