// SIDEBAR NAV
// -----------------------------------------------
// -----------------------------------------------
.sidebar-nav {
    font-size: $base-docs-font-size;

    .sidebar-nav-item {
        > a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include links($white, $white, $white, $white);
            padding: ($base-point-grid * 1.5) ($base-point-grid * 4);

            &:hover {
                text-decoration: none;

            }

            .fa {
                  margin-left: ($base-point-grid * 2);
                  font-size: 18px;
                  transition: all .3s;
                  -moz-osx-font-smoothing: unset;
            }
        }

        &.active {
            > a {
                padding-left: 28px;
                .fa {
                     @include rotate(90deg);
                }
            }
        }


        ul {
            display: none;


            li {
                a {
                    display: flex;
                    align-items: flex-start;
                    @include links($white, $white, rgba($white, 0.5), rgba($white, 0.5));
                    padding: $base-point-grid ($base-point-grid * 2);
                    font-size: 15px;


                    &.active {
                        color: $gray-primary;
                    }

                    &:hover {
                        text-decoration: none;
                    }

                }
            }
        }
    }
}

.doc-version-container {
  margin-top: $base-point-grid * 7;
    border-top: 1px solid rgba($white, 0.1);
}

.sidebar-doc-versions {
    display: flex;
    justify-content: center;

    .sidebar-nav-item {
         width: 100%;
         &.active {
             > a {
               border-color: transparent;
             }
           }
         ul {
             position: sticky;
             width: 100%;
             z-index: 1;
             box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px 0px;
             background: $brand-primary;

             li {
               a {
                 font-size: 0.800rem;
               }
             }

             li:nth-child(4) {
               border-top: solid 1px rgba(255, 255, 255, 0.5);
             }
         }
    }
}
