// ICON-FILTER
// -----------------------------------------------
// -----------------------------------------------
#icon-filter-tag {
  min-height: 150px;
    .icon-row {
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;

        a {
            width: $column-2;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            font-size: $tab-font-size;
            font-weight: bold;
            line-height: 23px;
            min-width: 150px;

            &:last-child {
                padding-right: 0;
            }

            &:hover {
                color: $brand-primary;
                text-decoration: none;
            }

            @include bp(large) {
                margin: $base-point-grid * 2 0;
            }
        }

        #icons-filter {
          .cat-icon-white {
            position: absolute;
            opacity: 0;
            transition: $icons-transition;
          }

          .cat-icon-color {
            opacity: 0;
            transition: $icons-transition;
          }
        }

        .cat-span {
          opacity: 0;
          font-size: 16px;
          line-height: 20px;
          padding-bottom: $base-point-grid / 2;
          transition: $icons-transition;
        }
    }
}
