// TAB
// -----------------------------------------------
// -----------------------------------------------
#media-tab {
    padding: ($base-point-grid * 35) 0 ($base-point-grid * 3) 0;

    .tab-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: ($base-point-grid * 2);
        border-bottom: 2px dashed $border-color;

        .tab-title {
            color: $brand-primary;
            font-size: 54px;
            font-weight: bold;
            line-height: 78px;
            margin-right: ($base-point-grid * 4);
        }

        .tab-menu-search {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .tab-menu {
                display: flex;
            }

            .tab-item {
                display: inline-block;
                padding: ($base-point-grid / 2) 0;
                margin-right: 30px;
                font-size: 0.875rem;

                &.active {
                    padding-bottom: ($base-point-grid / 2);
                    border-bottom: 2px solid $brand-primary;

                    a {
                        color: $link-color;
                    }
                }

                a {
                    font-size: $tab-font-size;
                    padding-bottom: 5px;
                    font-weight: bold;
                    line-height: 23px;

                    &:hover {
                        color: $brand-primary;
                        text-decoration: none;
                        border-bottom: 2px solid $brand-primary;
                    }
                }
            }

            #search-container {
                display: flex;
                align-items: flex-start;
                position: relative;
                padding-left: ($base-point-grid * 3);
                border-left: 2px solid $border-color;

                #search-input {
                    color: $brand-primary;
                    background-color: $brand-secondary;
                    font-family: $base-font-family;
                    font-size: $tab-font-size;
                    width: ($base-point-grid * 7);
                    margin-left: 12px;
                    padding-bottom: 4px;
                    line-height: 23px;
                    border: none;
                    outline: none;
                    -webkit-transition: width 0.9s;

                    &:focus,
                    &:focus-within {
                        width: 240px;
                    }
                }


                #results-container {
                    max-height: 300px;
                    overflow-x: auto;
                    border: $base-border;
                    width: 100%;
                    background: $search-background;
                    position: absolute;
                    padding: 14px;
                    left: 0;
                    top: 50px;
                    display: none;
                    z-index: 20;
                    font-size: 15px;

                    li {
                        border-bottom: $base-border;

                        &:last-child {
                            border-bottom: none;
                        }

                        a {
                            display: block;
                            padding: 5px 10px;

                            &:hover {
                                background: $search-hover;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Responsive
// -----------------------------------------------
@include bp(large) {
    #media-tab {
        .tab-flex {
            flex-wrap: wrap;
            justify-content: center;

            .tab-title {
                margin-bottom: ($base-point-grid * 4);
            }

            .tab-menu-search {
                .tab-menu {
                    display: flex;
                    justify-content: center;
                }

            }
        }
    }
}

@include bp(medium) {
    #media-tab {
        padding: ($base-point-grid * 20) 0 ($base-point-grid * 3) 0;

        .tab-flex {
            .tab-menu-search {
                #search-container {
                    padding-left: 0;
                    padding-bottom: $base-point-grid;
                    width: 100%;
                    order: 1;
                    border-bottom: 2px dashed $border-color;
                    border-left: 0;

                    #search-input {
                        width: 100%;

                        &:focus,
                        &:focus-within {
                            width: 100%;
                        }
                    }
                }

                .tab-menu {
                    padding-top: $base-point-grid * 3;
                    flex-wrap: wrap;
                    width: 100%;
                    order: 2;
                    justify-content: center;
                }
            }
        }
    }
}

@include bp(xsmall) {
    #media-tab {
        .tab-flex {
            .tab-menu-search {
                .tab-menu {
                    justify-content: end;
                }
            }
        }
    }
}