// BASE
// -----------------------------------------------
// -----------------------------------------------
// Body, html...
// -----------------------------------------------
@font-face {
    font-family: 'monoidbold';
    src: url('../fonts/monoid-bold.eot');
    src: url('../fonts/monoid-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/monoid-bold.woff2') format('woff2'),
         url('../fonts/monoid-bold.woff') format('woff'),
         url('../fonts/monoid-bold.ttf') format('truetype'),
         url('../fonts/monoid-bold.svg#monoidbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'monoiditalic';
    src: url('../fonts/monoid-italic.eot');
    src: url('../fonts/monoid-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/monoid-italic.woff2') format('woff2'),
         url('../fonts/monoid-italic.woff') format('woff'),
         url('../fonts/monoid-italic.ttf') format('truetype'),
         url('../fonts/monoid-italic.svg#monoiditalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'monoidregular';
    src: url('../fonts/monoid-regular.eot');
    src: url('../fonts/monoid-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/monoid-regular.woff2') format('woff2'),
         url('../fonts/monoid-regular.woff') format('woff'),
         url('../fonts/monoid-regular.ttf') format('truetype'),
         url('../fonts/monoid-regular.svg#monoidregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'monoidretina';
    src: url('../fonts/monoid-retina.eot');
    src: url('../fonts/monoid-retina.eot?#iefix') format('embedded-opentype'),
         url('../fonts/monoid-retina.woff2') format('woff2'),
         url('../fonts/monoid-retina.woff') format('woff'),
         url('../fonts/monoid-retina.ttf') format('truetype'),
         url('../fonts/monoid-retina.svg#monoidretina') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
    box-sizing: border-box;
    font-size: $base-font-size;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body,
html {
    height: 100%;
}
// Typography
// -----------------------------------------------

body {
    font-family: $base-font-family;
    line-height: $base-line-height;
    color: $base-font-color;
}

a {
    @include links($link-color, $link-color, darken($link-color, 15%), darken($link-color, 15%));
    text-decoration: none;
    transition: all $base-duration $base-timing;
    transition-property: color, background, rotate;

    &:hover {
        text-decoration: underline;
    }
}

// Media
// -----------------------------------------------

img,
picture {
    max-width: 100%;
}

// Pre, code

pre {
    margin-bottom: ($base-point-grid * 3);
}

// Forms
// -----------------------------------------------

input {
    appearance: none;


    &:hover {}

    &:focus {
        outline: none;
    }

    &:disabled {
        &:hover {}
    }

    &::placeholder {
        color: rgba($brand-secondary, 0.6);
    }
}

// Table

table {
  width: 100%;
  max-width: 100%;

  th,
  td {
    text-align: left;
    padding: $base-point-grid;
  }

  th {
    border-bottom: 2px solid rgba($brand-primary, 0.20);
    font-weight: $font-semibold;
  }

  td {
    border-bottom: 1px solid rgba($brand-primary, 0.20);
  }

}

// Animations related
// ------------------------------------------------
[class*="indirect-injection"] {
  opacity: 0;
}
