// Helpers
// -----------------------------------------------
// -----------------------------------------------

.wrapper {
  padding: ($base-point-grid * 2) ($base-point-grid * 3);
  margin: 0 auto;
  box-sizing: border-box;
  max-width: $bp-xlarge;
}

// Github stars
.doc-stars-container {
  margin-right: ($base-point-grid * 4);
}

// Github stars modal
#star-modal {
    transition: transform $base-duration;
    transform: scale(0);
    border-radius: 2px;
    position: fixed;
    bottom: ($base-point-grid * 8);
    right: ($base-point-grid * 2);
    padding: 12px 40px 8px 12px;
    background: #fff;
    box-shadow: rgba(0,0,0,0.3) 0 2px 8px 0;
    z-index: 100;

    &.in {
        transform: scale(1);
    }

    &.out {
        transform: translateX(400px);
    }
    p {
        font-size: $base-font-size;
        margin: 0 0 15px;
    }
    & .close-modal {
        cursor: pointer;
        position: absolute;
        top: 12px;
        right: ($base-point-grid * 2);
        padding: 0 $base-point-grid;
    }
}
