// Helpers
// -----------------------------------------------
// -----------------------------------------------

.wrapper {
  padding: ($base-point-grid * 2) ($base-point-grid * 3);
  margin: 0 auto;
  box-sizing: border-box;
  max-width: $bp-xlarge;
}

// Github stars
.doc-stars-container {
  margin-left: ($base-point-grid * 2);
}

// Github stars modal
#star-modal {
    transition: transform $base-duration;
    transform: scale(0);
    border-radius: 2px;
    position: fixed;
    bottom: ($base-point-grid * 11);
    right: ($base-point-grid * 2);
    padding: $base-point-grid;
    background: #fff;
    box-shadow: $box-shadow-button;
    z-index: 100;
    min-width: $github-modal-width;

    &.in {
        transform: scale(1);
    }

    &.out {
        transform: translateX(400px);
    }
    p {
        font-size: $base-font-size;
        margin: 0 0 15px;
    }
    & .close-modal {
        cursor: pointer;
        padding: 0 10.5px;
        width: $text-box-icon-size;
        height: $text-box-icon-size;
        border-radius: ($base-point-grid * 3);

        &:hover {
          background-color: lighten($brand-tertiary, 15%);
        }
    }

    .stars-text-line {
      display: flex;
      justify-content: space-between;
    }
}
