// Code
// -----------------------------------------------
// -----------------------------------------------

p,
ul {
    code {
        font-family: $code-font-family;
        padding: 0 $base-point-grid ($base-point-grid - 4) $base-point-grid;
        font-size: 16px;
        border-radius: 3px;
        color: rgba(#263238, 0.7);
    }
}


.doc-content {


    .CodeMirror,
    .hljs {
        font-size: 1rem;
        font-family: $code-font-family;
        line-height: 1.9;

    }

    .cm-s-arrow span.cm-keyword {
        font-weight: $font-regular;
    }

        pre {

        &.highlight {
            margin-bottom: $code-margin;

            border: none;


            .hljs {
                padding: $code-padding;
                border: 1px solid rgba($core-background, 0.15);
            }
        }
    }

    .executable-fragment {
    border: 1px solid rgba($core-background, 0.15);
    .js-code-output-executor {
      border: none;
    }
      .console-close,
      .run-button {
        width: 24px;
        height: 24px;
        right: 10px;
        top: 10px;
      }

      .run-button {
        background: url("../img/icon_play.svg") no-repeat;
      }

      .console-close {
        background: url("../img/icon_close.svg") no-repeat;
        cursor: pointer;
      }
    }
}


.language-kotlin {
    display: none;
}
