// Code
// -----------------------------------------------
// -----------------------------------------------

p,
ul,
table {
    code {
        font-family: $code-doc-font-famil;
        padding: 0 0.3rem;
        margin: 0;
        font-size: 16px;
        border-radius: 2px;
        color: rgba($dark-color-doc, 0.9);
        background: rgba($quickstart-background, 0.08);
    }
}


.doc-content {

    .CodeMirror,
    .hljs {
        font-size: 1rem;
        font-family: $code-doc-font-famil;
        line-height: 1.9;

    }

    .hljs {
      background: rgba($quickstart-background, 0.06);
    }

    .cm-s-arrow span.cm-keyword {
        font-weight: $font-regular;
    }

        pre {

        &.highlight {
            margin-bottom: $code-margin;
            border: none;

        }
    }
    .executable-fragment-wrapper {
      margin: 1.5rem 0 2.5rem 0;
    }
    .executable-fragment {
    border: none;
    .js-code-output-executor {
      border: none;
    }
      .console-close,
      .run-button {
        width: 24px;
        height: 24px;
        right: 10px;
        top: 10px;
      }

      .run-button {
        background: url("../img/icon_play.svg") no-repeat;
      }

      .console-close {
        background: url("../img/icon_close.svg") no-repeat;
        cursor: pointer;
      }
    }
}


.language-kotlin {
    display: none;
}
