// DOC CONTENT FX
// -----------------------------------------------
// -----------------------------------------------

.doc-content-fx {
    .doc-content {
        a {
            //color: $fx-color;
        }

        p,
        ul {
            code {
                background: rgba($fx-background, 0.08);
            }
        }

        .cm-s-arrow span.cm-keyword {
            //color: $fx-color;
        }

        // Codemirror
        .cm-s-arrow.CodeMirror {
          background: rgba($fx-background, 0.06);
        }

        .cm-s-arrow .CodeMirror-gutters {
          background-color: rgba($fx-background, 0.08);
        }

        .CodeMirror-linebackground.unmodifiable-line {
          background-color: rgba($fx-background, 0.06);
        }

                .hljs-variable,
        .hljs-template-variable,
        .hljs-tag,
        .hljs-name,
        .hljs-selector-id,
        .hljs-selector-class,
        .hljs-regexp,
        .hljs-deletion {
            //color: $fx-color;
        }

        .button-video {
            background: $fx-color;
            border: 2px solid $fx-color;
            transition: background $base-duration;

            &:hover {
                background: $fx-color;
                color: $white;
            }
        }
    }
}
