// DOC CONTENT CORE
// -----------------------------------------------
// -----------------------------------------------

.doc-content-core {
    .doc-content {
        a {
            color: $quickstart-color;
        }

        p,
        ul {
            code {
                background: rgba($quickstart-background, 0.08);
            }

            a {
                code {
                    text-decoration: underline;
                }
            }
        }

        .cm-s-arrow span.cm-keyword {
            color: $quickstart-color;
        }




        .hljs-variable,
        .hljs-template-variable,
        .hljs-tag,
        .hljs-name,
        .hljs-selector-id,
        .hljs-selector-class,
        .hljs-regexp,
        .hljs-deletion {
            color: $quickstart-color;
        }

        .button-video {
            background: $white;
            border: 2px solid $quickstart-color;
            transition: background $base-duration;

            &:hover {
                background: $quickstart-color;
                color: $white;
            }
        }
    }

}
