.cm-s-arrow.CodeMirror {  padding: 1.5rem;}
.cm-s-arrow span.cm-number, .cm-s-elegant span.cm-string, .cm-s-elegant span.cm-atom { color: #762; }
.cm-s-arrow span.cm-comment { color: #262; font-style: italic; line-height: 1em; }
.cm-s-arrow span.cm-meta { color: #555; font-style: italic; line-height: 1em; }
.cm-s-arrow span.cm-variable { color: rgba($dark-color-doc, 0.9); }
.cm-s-arrow span.cm-variable-2 { color: #b11; }
.cm-s-arrow span.cm-qualifier { color: #555; }
.cm-s-arrow span.cm-keyword { color: #730; }
.cm-s-arrow span.cm-builtin { color: #30a; }

.cm-s-arrow span.cm-type { color: #5CA6E7; }
.cm-s-arrow span.cm-link { color: #762; }
.cm-s-arrow span.cm-error { background-color: #fdd; }

.cm-s-arrow .CodeMirror-activeline-background { background: #e8f2ff; }
.cm-s-arrow .CodeMirror-matchingbracket { outline:1px solid grey; color: rgba($dark-color-doc, 0.9) !important; }
.cm-s-arrow .CodeMirror-gutters {
  background: none;
}

@include bp(large) {
  .cm-s-arrow.CodeMirror {  padding: 0.4rem;}
}
