// Quickstart docs
// -----------------------------------------------
// -----------------------------------------------

.doc-content {
  .heading-h1 {
    margin-top: 3rem;
    font-family: $header-font-family;
    font-size: 3rem;
    font-weight: $font-semibold;
    line-height: $heading-line-height;
  }

  .quickstart-intro {
    padding: 1rem 2rem;
    margin: 3rem 0;
    font-family: $header-font-family;
    font-size: 1.7rem;
    font-weight: $font-regular;
    background: rgba($core-background, 0.07);
  }

  .quickstart-intro-modular {
    margin-bottom: 2.5rem;
    font-family: $header-font-family;
    font-size: 1.7rem;

    strong {
      //background: rgba($core-background, 0.07);
      font-weight: $font-semibold;
    }
  }

  .quickstart-intro-libraries {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    padding: 0;

    li {
      position: relative;
      padding: 2rem;
      list-style: none;
      background: $white;
      //border: 1px solid rgba($core-background, 0.14);
      box-shadow: 0 2px 16px 0 rgba($core-background, 0.06);
      p {
        margin-bottom: 0;
         a {
           &:last-child {
             display: flex;
             align-items: center;
             margin-top: 1.5rem;
             font-family: $header-font-family;
             font-size: 1.125rem;
             font-weight: 600;
             i {
               margin-left: 0.5rem;
               padding-top: 0.25rem;
             }

           }
           &:hover {
             text-decoration: none;
           }
         }
      }
      &:nth-child(1) {
        p {
           a {
             &:last-child {

             }
           }
        }
      }

      &:nth-child(2) {
        a {
          color: $fx-color;
        }
        p {
           a {
             &:last-child {}
           }
        }
      }

      &:nth-child(3) {
        a {
          color: $optics-color;
        }
        p {
           a {
             &:last-child {}
           }
        }
      }

      &:nth-child(4) {
        a {
          color: $meta-color;
        }
        p {
           a {
             &:last-child {}
           }
        }
      }

      img {
        width: 48px;
        height: auto;
        position: absolute;
      }

      h2 {
        border: none;
        padding: 0;
        margin: 0.5rem 0 2rem 5rem;
        font-size: 1.8rem;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
    }
  }

  .quickstart-setup-heading {
    font-size: 3rem;

  }

  .quickstart-setup-h3 {
    .fal {
      margin-right: 0.7rem;
      color: $core-color;
    }
  }




  // .quickstart-setup-h3 {
  //   padding: 0 1rem;
  //   background: $core-color;
  //   display: inline-block;
  //   color: $white;
  //   font-size: 1.5rem;
  //   text-transform: uppercase;
  // }
}
// Responsive
@include bp(large) {
  .doc-content {
    .quickstart-intro-libraries {
      grid-template-columns: 1fr;
    }
  }
}
