.fx {
    background: $fx-background;

  .sidebar-menu {
    .sidebar-menu-item {
      &.active {

        & > button {
          border-left: 4px solid $fx-color;
        }
      }

      &.open {
        a {
          background: $fx-hover;
        }

        & > button {
          background: $fx-hover;
        }
      }
    }
  }
}

#cat-fx-dropdown {
    min-width: $sidebar-cat-button;

    .sidebar-nav {
        .sidebar-nav-item {
            > a {
                transition: background $base-duration $base-timing;
                &:hover {
                    background: $fx-hover;
                    box-shadow: $sidebar-cat-dropdow;
                }
            }

            &.active {
                > a {
                    background: $fx-hover;
                    box-shadow: $sidebar-cat-dropdow;
                }
            }

            ul {
                width: 100%;
                z-index: 1;
                box-shadow: $sidebar-cat-dropdow;
                background: $fx-hover;

                a {
                    color: $white;
                    transition: all $base-duration $base-timing;

                    &:hover {
                        background: rgba($white, 0.05);
                        color: rgba($white, 0.8);
                    }
                }
            }
        }
    }
}

#doc-fx-version-button {
    .sidebar-doc-versions {
        .sidebar-nav-item {
            background: $fx-background;

            > a {
                font-family: $heading-font-family;
                transition: background $base-duration $base-timing;

                &:hover {
                    background: $fx-hover;
                    box-shadow: $sidebar-cat-dropdow;
                }
            }

            &.active {
                > a {
                    background: $fx-hover;
                    box-shadow: $sidebar-cat-dropdow;
                }
            }

            ul {
                width: 100%;
                z-index: 1;
                box-shadow: $sidebar-cat-dropdow;
                background: $fx-hover;

                a {
                    color: $white;

                    &:hover {
                        @include links($white, $white, rgba($white, 0.5), rgba($white, 0.5));
                    }
                }
            }
        }
    }
}
