// Buttons
// ----------------------------------------------
// ----------------------------------------------

.button {
  display: block;
  background: none;
  border: none;
  outline: none;
  text-decoration: none;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  > img {
    vertical-align: bottom;
  }
}

.error-button {
  display: block;
  background: none;
  border: solid 1px;
  padding: ($base-point-grid) ($base-point-grid * 3);
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
}

.close {
  height: 28px;
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;

  &::after,
  &::before {
    background-color: #fff;
    content: " ";
    height: 100%;
    left: 98%;
    position: absolute;
    top: 50%;
    width: 2px;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

// Slack channel link button
.slack-link-container {
  z-index: 100;
  position: fixed;
  bottom: $base-point-grid;
  right: ($base-point-grid * 2);
  padding: 0.5em 0.5em;
  min-width: $github-modal-width;
  border-radius: .2em;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  transition: all .3s ease;
  box-shadow: $box-shadow-button;
  background: $white;
  font-weight: $font-semibold;
  color: #263238;

  .slack-link {
    color: lighten(#263238, 25%);

    &:hover {
      color: #263238;
    }
  }
}
