// Base
// -----------------------------------------------
// -----------------------------------------------
// Body, html
// -----------------------------------------------
html {
    box-sizing: border-box;
    font-size: $base-font-size;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body,
html {
    height: 100%;
}

// Typography
// -----------------------------------------------
body {
    color: $base-font-color;
    background: $background-color;
    font-family: $base-font-family;
    line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $header-font-color;
    font-family: $header-font-family;
    font-weight: $font-semibold;
}

a {
    color: $link-color;
    text-decoration: none;
    transition: color $base-duration $base-timing;

    &:visited {
        color: $link-color;
    }
    &:hover {
        color: $link-hover;
        text-decoration: underline;
    }
    &:active {
        color: $brand-primary;
    }
}

hr {
    display: block;
    border: none;
}
