// Code
// -----------------------------------------------
// -----------------------------------------------
.hljs {
    padding: ($base-point-grid * 3);
    background: $white;
    font-family: $code-font-family;
    font-size: 0.75rem; 
}
