// DOC-CONTENT
// -----------------------------------------------
// -----------------------------------------------

.doc-content {
    padding: ($base-point-grid * 4);
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: ($base-point-grid * 2);
        margin-top: ($base-point-grid * 4);
        color: $header-font-color;
    }

    h1 {
        font-size: 2.25rem;
        &:first-child {
            margin-top: 0;
        }
    }

    h2 {
        font-size: 1.75rem;
    }
    h3 {
        font-size: 1.375rem;
    }
    h4 {
        font-size: 1.125rem;
    }
    h5 {}
    h6 {}

    p {
        margin-bottom: ($base-point-grid * 2);
    }

    .browser {
        margin-top: ($base-point-grid * 3);
    }
}
