<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>arrow-kt</string>
	<key>CFBundleName</key>
	<string>Arrow Test</string>
	<key>DocSetPlatformFamily</key>
	<string>arrow-kt</string>
	<key>isDashDocset</key>
	<true/>
	<key>DashDocSetFamily</key>
	<string>dashtoc</string>
	<key>dashIndexFilePath</key>
	<string>index.html</string>
	<key>isJavaScriptEnabled</key><true/>
	<key>DashDocSetFallbackURL</key>
	<string>https://next.arrow-kt.io/docs/</string>
</dict>
</plist>
