// Blog
// -----------------------------------------------
// -----------------------------------------------
.blog {
    padding: ($base-point-grid * 4) 0;
    background: rgba($brand-tertiary, 0.10);
    .blog-list {

        column-count: 3;
        column-gap: map-get($base-grid, gutter);
        margin: 0 map-get($base-grid, gutter);

        @include bp(large) {
            column-count: 2;
            column-gap: map-get($base-grid, gutter);
        }

        @include bp(medium) {
            column-count: 1;
            column-gap: map-get($base-grid, gutter);
        }

        .blog-item {
            margin-bottom: ($base-point-grid * 4);
            background-color: #eee;
            display: inline-block;
            margin: 0 0 map-get($base-grid, gutter);
            width: 100%;

            .blog-item-header {
                position: relative;
                .icon {
                    position: absolute;
                    z-index: 20;
                    right: ($base-point-grid * 2);
                    top: ($base-point-grid * 2);
                }
                .version {
                    position: absolute;
                    z-index: 10;
                    left: ($base-point-grid * 3);
                    bottom: ($base-point-grid * 2);
                    color: $white;
                    font-size: 0.875rem;
                }
                .header-container {
                  display: block;
                }

                img {
                    width: 100%;
                }
            }
            .blog-item-content {
                padding: ($base-point-grid * 3);
                background: $white;

                h2 {
                    margin-bottom: ($base-point-grid * 2);
                    color: $header-font-color;
                    font-size:  1.2rem;
                    line-height: 1.3;
                    font-weight: $font-medium;
                }

                hr {
                    height: 2px;
                    border: none;
                    background: rgba($brand-tertiary, 0.8);
                    width: 32px;
                    text-align: left;
                    margin: 0 0 ($base-point-grid * 2) 0;
                }

                ul {
                    margin-top: ($base-point-grid * 2);
                    li {
                        color: rgba($brand-secondary, 0.8);
                        font-size: 0.875rem;
                    }
                }
            }
        }
    }
}
