// Blog
// -----------------------------------------------
// -----------------------------------------------
.blog {
    padding: ($base-point-grid * 4) 0;
    background: rgba($brand-tertiary, 0.10);
    .blog-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 (map-get($base-grid, gutter)/2);

        .blog-item {

            flex: 0.5 1 33%;
            margin-bottom: $base-point-grid * 4;
            padding: 0 (map-get($base-grid, gutter)/2);

            @include bp(large) {
                flex: 1 1 50%;
            }

            @include bp(medium) {
                flex: 1 1 100%;
            }

            .blog-item-header {
                position: relative;
                .icon {
                    position: absolute;
                    z-index: 20;
                    right: ($base-point-grid * 2);
                    top: ($base-point-grid * 2);
                }
                .version {
                    position: absolute;
                    z-index: 10;
                    left: ($base-point-grid * 3);
                    bottom: ($base-point-grid * 2);
                    color: $white;
                    font-size: 0.875rem;
                    text-shadow: 0 0 2px rgba(0,0,0,0.7);
                }
                .header-container {
                  background: #3860c3;
                  display: block;

                  img {
                    vertical-align: top;
                    height: 180px;
                    object-fit: cover;
                    object-position: center;
                    opacity: 0.4;
                    transition: opacity 0.2s ease-out;
                    width: 100%;
                    &:hover {
                      opacity: 0.8;
                    }
                  }
                }
            }
            .blog-item-content {
                padding: ($base-point-grid * 3);
                background: $white;

                h2 {
                    margin-bottom: ($base-point-grid * 2);
                    color: $header-font-color;
                    font-size:  1.2rem;
                    line-height: 1.3;
                    font-weight: $font-medium;
                }

                hr {
                    height: 2px;
                    border: none;
                    background: rgba($brand-tertiary, 0.8);
                    width: 32px;
                    text-align: left;
                    margin: 0 0 ($base-point-grid * 2) 0;
                }

                ul {
                    margin-top: ($base-point-grid * 2);
                    li {
                        color: rgba($brand-secondary, 0.8);
                        font-size: 0.875rem;
                    }
                }
            }
        }
    }
}
