// NAVIGATION
// -----------------------------------------------
// -----------------------------------------------
#navigation {
    position: fixed;
    z-index: 30;
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    width: 100%;
    padding: ($base-point-grid * 5) ($base-point-grid * 4);
    transition: all $base-duration $base-timing;

    .navigation-brand {
        font-family: $brand-font-family;
        font-weight: $font-medium;
        text-transform: uppercase;
        letter-spacing: 4px;
        @include bp(small) {
            letter-spacing: 2px;
        }
    }
    .navigation-menu {
        .navigation-menu-item {
            display: inline-block;
            text-transform: uppercase;
            font-size: 0.875rem;

            @include bp(medium) {
                text-transform: none;
            }

            &.active {
                border-bottom: 2px solid $brand-quaternary;
            }

            & + .navigation-menu-item {
              margin-left: ($base-point-grid * 4);
              @include bp(small) {
                  margin-left: ($base-point-grid * 3.2);
              }
            }
        }
    }

    a {
        @include links($white, $white, rgba($white, 0.5), rgba($white, 0.5));

        &:hover {
            text-decoration: none;
        }
    }

    .nav-item-text {
        @include bp(small) {
            display: none;
        }
    }

    .nav-item-icon {
        display: none;

        @include bp(small) {
            display: inline-block;
        }
    }

    &.navigation-scroll {
        background: darken($brand-primary, 4%);
        padding: ($base-point-grid * 2) ($base-point-grid * 4);
    }
}
