// TAB
// -----------------------------------------------
// -----------------------------------------------
.tab {
    padding: ($base-point-grid * 2) 0;
    border-bottom: 1px solid rgba($brand-primary, 0.1);
    background: $white;
    text-align: center;
    
    .tab-item {
        display: inline-block;
        
        margin-right: ($base-point-grid * 3);
        
        a {
            
            &:hover {
                text-decoration: none;
            }
        }
    }
}