// TAB
// -----------------------------------------------
// -----------------------------------------------
.tab {
    border-bottom: 1px solid rgba($brand-primary, 0.1);
    background: $white;
    text-align: center;
    
    .tab-item {
        display: inline-block;
        padding: ($base-point-grid * 2) 0;
        margin-right: ($base-point-grid * 5);
        text-transform: uppercase;
        font-size: 0.875rem;
        
        &:last-child {
            margin-right: 0;
        }
        
        &.active {
            padding-bottom: (($base-point-grid * 2) - 2);
            border-bottom: 2px solid $brand-tertiary;
            
            a {
                color: $link-color;
            }
        }
        
        a { 
            color: $brand-secondary;
            &:hover {
                text-decoration: none;
            }
        }
    }
}