// Quickstart
// -----------------------------------------------
// -----------------------------------------------

.site-quickstart {
  .quickstart-content {
    margin: 180px auto 0;
    text-align: center;
    position: relative;
    overflow: hidden;

    h1 {
      font-size: 4.2rem;
      line-height: 1.4;
      overflow: hidden;
    }

    .quickstart-cta {
      padding: 12px 40px;
      display: inline-block;
      margin-top: 48px;
      font-size: 1.429rem;
      text-transform: uppercase;
      border: 2px solid $brand-primary;

      &:hover {
        text-decoration: none;
        background: #fff;
      }
    }
  }
}

.container {
  min-height: 192px;
}

.output {
  text-align:center;
  font-family: 'Source Code Pro', monospace;
  color:white;
  h1 {
    font-size:30px;
  }
}
.cursor::after {
  content:'';
  display:inline-block;
  margin-left: 3px;
  margin-top: 4px;
  background-color: $brand-primary;
  animation-name:blink;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
}

h1.cursor::after {
  height: 6px;
  width: 40px;
}

@keyframes blink {
  0% {
    opacity:1;
  }
  49% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}

// Responsive
@include bp(medium) {
  .site-quickstart {
    .quickstart-content {
      h1 {
        font-size: 2.9rem;
      }
    }
  }
}
