// Quickstart
// -----------------------------------------------
// -----------------------------------------------

.site-quickstart {
  .quickstart-content {
    margin: 180px auto 0;
    text-align: center;
    position: relative;
    overflow: hidden;

    h1 {
      font-size: 4.2rem;
      line-height: 1.4;
      overflow: hidden;
      /* Gives that scrolling effect as the typing happens */
      //position: absolute;
      //animation: yourAnimation 24s ease-out infinite normal none;
      // &:nth-child(1) {
      //   animation-delay: 0;
      // }
      //
      // &:nth-child(2) {
      //   animation-delay: 6s;
      // }
      //
      // &:nth-child(3) {
      //   animation-delay: 12s;
      // }
      //
      // &:nth-child(4) {
      //   animation-delay: 18s;
      // }
    }

    .quickstart-cta {
      padding: 12px 40px;
      display: inline-block;
      margin-top: 48px;
      font-size: 1.429rem;
      text-transform: uppercase;
      border: 2px solid $brand-primary;

      &:hover {
        text-decoration: none;
        background: #fff;
      }
    }
  }
}
// @keyframes animate {
//   0.0% {
//     opacity: 0;
//   }
//
//   2.5% {
//     opacity: 1;
//   }
//
//   25% {
//     opacity: 1;
//     margin-left: 0;
//   }
//
//   27.5% {
//     opacity: 0;
//   }
//
//   35.5% {
//     margin-left: 200px;
//   }
// }
