name: githubpages

on:
  push:
    branches:
      - main

jobs:
  githubpages:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Dokka
        id: Dokka
        run: ./gradlew cleanDocs dokkaHtmlMultiModule -Pgithubpages=true

      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.TOKEN_GITHUB_ACTION }}
          publish_dir: ./docs
          publish_branch: gh-pages
