name: "Publish all libs, Arrow-stack and Docs"

on:
  release:
    types: [ published ]

env:
  BASEDIR: ${{github.workspace}}/arrow-libs
  GRADLE_OPTS: -Dorg.gradle.daemon=false -Dorg.gradle.kotlin.dsl.internal.io.timeout=120000 -Dorg.gradle.jvmargs="-Xmx5g -XX:+HeapDumpOnOutOfMemoryError -XX:+UseParallelGC -XX:MaxMetaspaceSize=1g -Dfile.encoding=UTF-8"
  ORG_GRADLE_PROJECT_mavenCentralUsername: '${{ secrets.SONATYPE_TOKENIZED_USER }}'
  ORG_GRADLE_PROJECT_mavenCentralPassword: '${{ secrets.SONATYPE_TOKENIZED_PASSWORD }}'
  ORG_GRADLE_PROJECT_signingInMemoryKeyId: '${{ secrets.SONATYPE_SIGNING_KEY_ID }}'
  ORG_GRADLE_PROJECT_signingInMemoryKey: '${{ secrets.SONATYPE_SIGNING_KEY }}'
  ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: '${{ secrets.SONATYPE_SIGNING_KEY_PASSPHRASE }}'

jobs:
  publish:
    timeout-minutes: 120
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: ${{ github.ref != 'refs/heads/main' }}

      - name: Assemble
        run: ./gradlew assemble -Pversion=${{ github.event.release.name }} -Penable_wasm=true

      - name: Publish artifacts
        run: ./gradlew publishToMavenCentral -Pversion=${{ github.event.release.name }} -Penable_wasm=true
        continue-on-error: true

      - name: Publish plug-ins
        run: ./gradlew publishPlugins -Pversion=${{ github.event.release.name }} -Penable_wasm=true -Pgradle.publish.key=${{ secrets.GRADLE_PUBLISH_KEY }} -Pgradle.publish.secret=${{ secrets.GRADLE_PUBLISH_SECRET }}
        continue-on-error: true
