name: "pull_request"

on: pull_request

env:
  GRADLE_OPTS: -Dorg.gradle.daemon=false -Dorg.gradle.parallel=false -Dorg.gradle.jvmargs="-Xmx5g -XX:+UseParallelGC -XX:+HeapDumpOnOutOfMemoryError -Dfile.encoding=UTF-8"

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ 'macos-latest', 'ubuntu-latest', 'windows-latest' ]

    steps:
      - name: Checkout
        uses: actions/checkout@v3.0.2
        with:
          fetch-depth: 0

      - name: Set up Java
        uses: actions/setup-java@v3.4.0
        with:
          distribution: 'zulu'
          java-version: 11

      - name: build
        uses: gradle/gradle-build-action@v2.2.0
        if: matrix.os != 'windows-latest'
        with:
          arguments: --full-stacktrace build

      - name: mingwX64Test
        uses: gradle/gradle-build-action@v2.2.0
        if: matrix.os == 'windows-latest'
        with:
          arguments: --full-stacktrace mingwX64Test

      - name: Create code coverage report
        if: matrix.os == 'ubuntu-latest'
        run: ./gradlew koverMergedReport

      - name: Add coverage report to PR
        id: kover
        if: matrix.os == 'ubuntu-latest'
        uses: mi-kas/kover-report@v1
        with:
          path: ${{ github.workspace }}/build/reports/kover/merged/xml/report.xml
          title: Kover Report
          update-comment: true

      - name: Upload reports
        uses: actions/upload-artifact@v3.1.0
        with:
          name: 'reports-${{ matrix.os }}'
          path: '**/build/reports/**'

      - name: Stop Gradle daemons
        run: ./gradlew --stop

  update_api:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Java
        uses: actions/setup-java@v3.4.0
        with:
          distribution: 'zulu'
          java-version: 11

      - name: Build
        uses: gradle/gradle-build-action@v2.2.0
        with:
          arguments: apiDump

      - name: Stop Gradle daemons
        run: ./gradlew --stop

      - name: "Commit new API files"
        uses: stefanzweifel/git-auto-commit-action@v4.14.1
        with:
          commit_message: Update API files
          file_pattern: arrow-libs/**/api/*.api
