name: "pull_request"

on: pull_request

env:
  GRADLE_OPTS: -Dorg.gradle.jvmargs="-Xmx5g -XX:+UseParallelGC -XX:+HeapDumpOnOutOfMemoryError -Dfile.encoding=UTF-8"

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ 'macos-latest', 'ubuntu-latest', 'windows-latest' ]

    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0
        with:
          fetch-depth: 0

      - name: Set up Java
        uses: actions/setup-java@v2.4.0
        with:
          distribution: 'temurin'
          java-version: 11

      - name: Build
        uses: gradle/gradle-build-action@v2.0.1
        with:
          cache-disabled: true
          arguments: -S --no-daemon --stacktrace build

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@v2.2.4
        with:
          name: 'reports-${{ matrix.os }}'
          path: '**/build/reports/**'

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@v2.2.4
        with:
          name: 'gradle-daemon-log'
          path: '/home/runner/.gradle/daemon/**'

  update_api:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Java
        uses: actions/setup-java@v2.4.0
        with:
          distribution: 'temurin'
          java-version: 11

      - name: Build
        uses: gradle/gradle-build-action@v2.0.1
        with:
          arguments: apiDump

      - name: "Commit new API files"
        uses: stefanzweifel/git-auto-commit-action@v4.12.0
        with:
          commit_message: Update API files
          file_pattern: arrow-libs/**/api/*.api
