name: "pull_request"

on: pull_request

env:
  GRADLE_OPTS: -Dorg.gradle.daemon=false -Dorg.gradle.jvmargs="-Xmx5g -XX:MaxPermSize=2048m -XX:+HeapDumpOnOutOfMemoryError -XX:+UseParallelGC -XX:MaxMetaspaceSize=1g -Dfile.encoding=UTF-8"

jobs:
  update_api:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 11

      - name: apiDump
        uses: gradle/gradle-build-action@v2
        with:
          arguments: apiDump

      - name: "Commit new API files"
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update API files
          file_pattern: arrow-libs/**/api/*.api

  check:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 11

      - name: Knit and API check
        uses: gradle/gradle-build-action@v2
        with:
          arguments: knitCheck apiCheck --scan

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: 'reports-check'
          path: '**/build/reports/**'

  jvm:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 11

      - name: JVM test
        uses: gradle/gradle-build-action@v2
        with:
          arguments: jvmTest --scan

      - name: Create code coverage report
        if: "! github.event.pull_request.head.repo.fork "
        uses: gradle/gradle-build-action@v2
        with:
          arguments: koverMergedReport

      - name: Add coverage report to PR
        if: "! github.event.pull_request.head.repo.fork "
        id: kover
        uses: mi-kas/kover-report@v1
        with:
          path: build/reports/kover/merged/xml/report.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          title: Kover Report
          update-comment: true

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: 'reports-jvmTest'
          path: '**/build/reports/**'

  js:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 11

      - name: JS tests
        uses: gradle/gradle-build-action@v2
        with:
          arguments: jsTest --scan

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: 'reports-js'
          path: '**/build/reports/**'

  ios:
    runs-on: macos-latest
    timeout-minutes: 60

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 11

      - name: iOS tests
        uses: gradle/gradle-build-action@v2
        with:
          arguments: iosSimulatorArm64Test iosX64Test --parallel --scan

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: 'reports-ios'
          path: '**/build/reports/**'

  macos:
    runs-on: macos-latest
    timeout-minutes: 60

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 11

      - name: macOS tests
        uses: gradle/gradle-build-action@v2
        with:
          arguments: macosX64Test --scan

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: 'reports-macos'
          path: '**/build/reports/**'

  tvos:
    runs-on: macos-latest
    timeout-minutes: 60
    continue-on-error: true

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 11

      - name: tvOS tests
        uses: gradle/gradle-build-action@v2
        with:
          arguments: tvosSimulatorArm64Test tvosX64Test --parallel --scan

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: 'reports-tvos'
          path: '**/build/reports/**'

  watchos:
    runs-on: macos-latest
    timeout-minutes: 60
    continue-on-error: true

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 11

      - name: watchOS tests
        uses: gradle/gradle-build-action@v2
        with:
          arguments: watchosSimulatorArm64Test watchosX64Test --parallel --scan

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: 'reports-watchos'
          path: '**/build/reports/**'

  windows:
    runs-on: windows-latest
    timeout-minutes: 60

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 11

      - name: Windows (MinGW) tests
        uses: gradle/gradle-build-action@v2
        with:
          arguments: mingwX64Test --scan

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: 'reports-windows'
          path: '**/build/reports/**'

  linux:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 11

      - name: Linux tests
        uses: gradle/gradle-build-action@v2
        with:
          arguments: linuxX64Test --scan

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: 'reports-linux'
          path: '**/build/reports/**'

  android:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 11

      - name: Android tests
        uses: gradle/gradle-build-action@v2
        with:
          arguments: androidNativeX64Test --scan

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: 'reports-android'
          path: '**/build/reports/**'
