name: "pull_request"

on: pull_request

env:
  GRADLE_OPTS: -Dorg.gradle.parallel=false -Dorg.gradle.jvmargs="-Xmx5g -XX:+UseParallelGC -XX:+HeapDumpOnOutOfMemoryError -Dfile.encoding=UTF-8"

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ 'macos-latest', 'ubuntu-latest', 'windows-latest' ]

    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0
        with:
          fetch-depth: 0

      - name: Set up Java
        uses: actions/setup-java@v2.5.0
        with:
          distribution: 'zulu'
          java-version: 11

      - name: appleTest
        uses: gradle/gradle-build-action@v2.1.0
        if: matrix.os == 'macos-latest'
        with:
          arguments: --full-stacktrace --scan appleTest

      - name: Ubuntu build
        uses: gradle/gradle-build-action@v2.1.0
        if: matrix.os == 'ubuntu-latest'
        with:
          arguments: --full-stacktrace --scan build

      - name: mingwX64Test
        uses: gradle/gradle-build-action@v2.1.0
        if: matrix.os == 'windows-latest'
        with:
          arguments: --full-stacktrace --scan mingwX64Test

      - name: Upload reports
        uses: actions/upload-artifact@v2.3.1
        with:
          name: 'reports-${{ matrix.os }}'
          path: '**/build/reports/**'

      - name: Stop Gradle daemons
        run: ./gradlew --stop

  update_api:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Java
        uses: actions/setup-java@v2.5.0
        with:
          distribution: 'zulu'
          java-version: 11

      - name: Build
        uses: gradle/gradle-build-action@v2.1.0
        with:
          arguments: apiDump

      - name: Stop Gradle daemons
        run: ./gradlew --stop

      - name: "Commit new API files"
        uses: stefanzweifel/git-auto-commit-action@v4.12.0
        with:
          commit_message: Update API files
          file_pattern: arrow-libs/**/api/*.api
