// TOP DOC VERSION TAB
// -----------------------------------------------
// -----------------------------------------------
.top-warning {
    height: 0px;
    background-color: $top-warning-base;
    color: $white;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
    display: block;
    overflow: hidden;
    text-align: center;
    padding: 0;
    opacity: 0;
    transition: opacity ease 1200ms, height ease 1600ms, padding ease 1600ms;

    &.show {
      height: 43px;
      opacity: 1;
      padding: 8px 0;


      .top-container {
          transform: rotate3d(1, 0, 0, 0deg);
      }
    }

    .top-container {
        display: inline-block;
        transform: rotate3d(1, 0 ,0 , 90deg);
        transform-origin: top;
        transform-style: preserve-3d;
        transition: transform ease 1600ms;

        a {
          color: #92b6eb;
          font-size: 0.875rem;
          text-decoration: none;
          padding: 0 25px;

          &:hover {
            color: $white;
          }
        }

        @include bp(small) {
          a {
            font-size: 0.775rem;
            padding: 0 $base-point-grid;
          }
        }

        .disabled {
          display: none;
        }

        .middle-tab {
          border-left: solid 1px #92b6eb;
          border-right: solid 1px #92b6eb;
        }
    }

  .close {
    float: right;
    margin-right: 3%;
    cursor: pointer;
    margin-top: 2px;
  }
}
